*.mp4
*.mp3
*.wav
*.bin




#detectPrice
detectPrice/*.log


#dianping
dianping/*
#dianping/*.txt
#dianping/*.data
#dianping/*.xlsx
!dianping/*.py
!dianping/*.dat


#email
email/*
email_package/*

#city
city/*
!city/*.py
!city/*.dat
!city/readme

#ip_proxy
ip_proxy/*
!ip_proxy/*.py

#log
log/*
!log/*.py